{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/v:2.0/history_20140801/q/knyc.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "X-Api-Error":["true"], "X-Creationtime":["0.016"]},"body":{"encoding":"UTF-8","string":"\n{\n\t\"response\": {\n\t\t\"version\": \"2.0\",\n\t\t\"units\": \"english\",\n\t\t\"termsofService\": \"https://www.wunderground.com/weather/api/d/terms.html\",\n\t\t\"attribution\": {\n\t\t\"image\":\"//icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"features\": {\n\t\t}\n\t\t,\n\t\"error\": {\n\t\t\"type\": \"keynotfound\"\n\t\t,\"description\": \"this key does not exist\"\n\t}\n\t}\n}\n"},"http_version":null},"recorded_at":"Sun, 01 Mar 2015 05:00:05 GMT"}],"recorded_with":"VCR 2.9.3"}